@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-int: "Inter", sans-serif;
  --font-nuni: "Nunito", sans-serif;
  --shadow-newMade: 0 28px 30px rgba(99, 122, 166, 0.05);
  --shadow-blog: 0px 3px 27px 0px rgba(48, 63, 142, 0.161);
}
