@import "tailwindcss";

@theme {
  --font-int: "Inter", sans-serif;
  --font-nuni: "Nunito", sans-serif;
  /* --shadow-newMade: 0 28px 30px rgba(99, 122, 166, 0.05); */
  --shadow-customMade: 0px 3px 12px 0px rgba(55, 55, 213, 0.071);
}
